h1 {
    color: grey;
    font-size: 24px;
}
.card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
}
li a {
    color: green;
}
body {
    background: white url("/static/polls/images/pobrane.jpg") no-repeat;
}

a {
    width: 300px;
    height: 150px;
    background-image: linear-gradient(180deg, purple 0%,  );
}